#inp {
    height: 99%;
    width: 49%;
    resize: none;
    float: left;
    font-family: monospace;
    background: black;
    color: #aaaaaa;
    border-radius:10px;
    text-decoration: none;
}
iframe {
    height: 99%;
    width: 49%;
    float:right;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid #999999;
    border-top: 2px solid #999999;
    border-radius: 10px;
    background: white;/*#444444*/
}
body {
    height: 100%;
    width: 100%;
    background: #666666;
    margin:0;
    padding:0;
}
html {
    height: 100%;
    width: 100%;
}
#exec {
    float: left;
    border: 2px solid #bbbbbb;
    background: #ffe;
    border-radius: 5px;
    float:left;
    margin:10px;
}
#execlink {
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    margin: 5px;
}
#execlink:hover {
    color: red;
    background: #eff;
    cursor: pointer;
}
#home {
    /*width: 6em;*/
    /*height: 2em;*/
    border: 2px solid #bbbbbb;
    background: #ffe;
    border-radius: 5px;
    float:left;
    margin:10px;
}
#homelink {
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    margin:5px;
}
#homelink:hover {
    color: red;
    background: #eff;
}
#buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
}