header {
    display: flex;
    background-color: #ff6600;
    padding: 0;
    text-align: center;
}

html {
    padding: 0;
    margin: 0;
}

#main {
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
}

header p {
    margin: 20px;
}
