header {
    color: #e85a4f;
    background-color: #d8c3a5;
    padding: 0 10em 0 10em;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    border-bottom: #e85a4f solid;
}

header a {
    margin: 1.5%;
    color: #e85a4f;
    text-decoration: none;
}

header a:hover {
    color: #373737;
}


html {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
    text-align: center;
}

body {
    color: #373737;
    background-color: #eae7dc;
    margin: 0;
}

.content {
    margin: 1% 10em 0 10em;
    padding: 1%;
}

h1 {
    text-align: center;
}

h3 {
    margin-top: 5%;
}

input {
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    background-color: #e85a4f;
    color: #373737;
    font-weight: bold;
    float: right;
}

.code {
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #d8c3a5;
    padding: 1%;
    border: solid #e85a4f;
    border-radius: 25px;
}
#proovi {
    text-align: center;
    border-radius:5px;
    border: 2px red solid;
    float:right;
    background: #d8c3a5;
    margin:5px;
    padding:5px;
}
#proovilink {
    text-decoration: none;
    color: #e85a4f;
    border-radius:5px;
}