header {
    display: flex;
    color: #e85a4f;
    background-color: #d8c3a5;
    font-weight: bold;
    padding: 0;
    text-align: center;
}

html {
    padding: 0;
    margin: 0;
}

#main {
    text-align: center;
}

body {
    color: #373737;
    background-color: #eae7dc;
    margin: 0;
}

.content {
    padding: 0 10em 0 10em;
}

header p {
    margin: 20px;
}
